//首页的less文件
@import "common";

//@import 导入  把一个css导入到另外一个css里面
//link 是把CSS引入到html里
body{
    width: 15rem;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f2f2f2;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}


@baseFont:50;

// 顶部搜索框
.search-content{
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: (88rem / @baseFont);
    background-color: #ffc001;
    .classify{
        width: (44rem / @baseFont);
        height: (70rem / @baseFont);
        background: url(../images/classify.png) no-repeat;
        background-size: (44rem / @baseFont) (70rem / @baseFont);
        margin: (11rem / @baseFont) (25rem / @baseFont) (7rem / @baseFont) (24rem / @baseFont);
    }

    .search{
        flex: 1;
        input{
            width: 100%;
            border: none;
            height: (66rem / @baseFont);
            border-radius: (33rem / @baseFont);
            background-color: #fff2cc;
            margin-top: (12rem / @baseFont);
            outline: none;
            font-size:(25rem / @baseFont);
            padding-left: (55rem / @baseFont);
            color: #757575;
        }
    }

    .login{
        width: (75rem / @baseFont);
        height: (70rem / @baseFont);
        margin: (10rem / @baseFont);
        font-size: (25rem / @baseFont);
        text-align: center;
        color: #fff;
        line-height: (70rem / @baseFont);
    }
}


// banner
.banner{
    width: (750rem / @baseFont);
    height: (368rem / @baseFont);

    img{
        width: 100%;
        height: 100%;
    }
}

//广告部分
.ad{
    display: flex;
    a{
        flex: 1;
        img{
            width: 100%;
        }
    }
}