//首页的less文件
@import "common";

//@import 导入  把一个css导入到另外一个css里面
//link 是把CSS引入到html里
body{
    width: 15rem;
    min-width: 320px;
    margin: 0 auto;
    background-color: #f2f2f2;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

@baseFont:50;

// 顶部搜索框
.search-content{
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: (88rem / @baseFont);
    background-color: #ffc001;
    .classify{
        width: (44rem / @baseFont);
        height: (70rem / @baseFont);
        background-color: pink;
        margin: (11rem / @baseFont) (25rem / @baseFont) (7rem / @baseFont) (24rem / @baseFont);
    }

    .search{
        flex: 1;
        background-color: purple;
    }

    .login{
        width: (75rem / @baseFont);
        height: (70rem / @baseFont);
        background-color: skyblue;
        margin: (10rem / @baseFont);
    }
}